/* Universal Styles */

* {
    margin: 0px;
    padding: 0px;

}

body {
    font-family: 'Work Sans', sans-serif;
}

:root {
    /* Font Size */

    --fs-x-large: 65px;
    --fs-large: 40px;
    --fs-medium: 30px;
    --fs-small: 25px;
    --fs-x-small: 16px;

    --fs-btn: 20px;

    /* Font Weight */

    --fw-primary: 700;
    --fw-secondary: 600;
    --fw-light: 500;
    --fw-lighter: 400;

    /* Color */

    --primary-color: #fff;
    --secondary-color: #fff;
    --btn-color: #005FAC;
}


/* Shared Style */

.btn {
    border: 0;
    border-radius: 5px;
    background: #FFF;
    font-size: 18px;
    padding: 16px 22px;
    color: #005FAC;
    font-weight: 600;
}



/* Header Section Style */


header {
    width: 99vw;
    height: 100vh;
    background-image: url("/images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
}

.heading-title,
.heading-description {
    max-width: 40%;
    text-align: right;
    color: var(--primary-color);
}

.des-width {
    max-width: 26%;
}

.heading-title {
    font-size: 65px;
    font-weight: 700;
}

.heading-description {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.heading-btn:hover {
    background-color: #0390bb;
    color: #FFF;
}


/* Failor Part Style */


.failor-img {
    width: 500px;
    height: 600px;
}

.failure-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 270px;
}

.img-section {
    max-width: 50%;
}

.text-section {
    max-width: 50%;
    margin-top: 175px;
}


.failor-taitle {
    max-width: 240px;
    color: #151414;
    font-size: 35px;
    font-weight: 700;
}

.failor-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.failor-description {
    max-width: 46%;
    color: #444343;
    font-size: 12px;
    font-weight: 400;
}

.failor-reason {
    max-width: 46%;
}

.failor-section {
    margin-top: 130px;
}

.failor-section li {

    list-style-type: none;
    font-size: 12px;
    font-weight: 400;
    color: black;
    margin-bottom: 8px;
}


.fa-solid {
    color: #16D887;
    margin-right: 10px;
}

/* Plan Section Style */

.plan-section {
    height: 400px;
    max-width: 80%;
    margin: 150px auto;
    /* background-color: #16D887; */
}

.plan-heading {
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.plan-card-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 170px;
}

.plan-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.plan-img {
    margin-bottom: 20px;
    width: 75px;
    height: 75px;
}

.plan-title {
    color: #151414;
}

.plan-description {
    color: #737272;
}